/* foglio stili css per visualizzazione  adattiva su dispositivi mobile marzo 2021 */

@media screen and (max-width: 960px) {
		.titolo, .titoletto, p, .copyright {
		float: none;
		display: inline;
		width:92%
		}

	}

		