/* foglio stili css per visualizzazione  adattiva su dispositivi mobile marzo 2021 */


@media screen and (min-width: 300px) and (max-width: 1024px) {
		.titolo {
		float: none;
		display: inline;
		width:100%
		}

	}

		
@media screen and (min-width: 300px) and (max-width: 1024px) {
		.titoletto {
		float: none;
		display: inline;
		width:50%
		}

	}


@media screen and (min-width: 300px) and (max-width: 1024px) {
		p {
		float: none;
		display: inline;
		width:80%
		}

	}


@media screen and (min-width: 300px) and (max-width: 1024px) {
		.menu {
		float: none;
		display: inline;
		width:20%
		}

	}


@media screen and (min-width: 300px) and (max-width: 1024px) {
		.amiga1000, .footer {
		float: none;
		display: inline;
		width:95%
		}

	}


@media screen and (min-width: 300px) and (max-width: 1024px) {
		.footer {
		float: none;
		display: inline;
		width:95%
		}

	}

@media screen and (min-width: 300px) and (max-width: 1024px) {
		.sottomenu {
		float: none;
		display: inline;
		margin-left: 500px;
		width:40%
		}


	}


@media screen and (min-width: 300px) and (max-width: 1024px) {
		.titolomenu {
		float: none;
		display: inline;
		margin-left: 40px;
		width:60%
		}


	}


@media screen and (min-width: 300px) and (max-width: 1024px) {
		.menu {
		float: none;
		display: inline;
		margin-left: 420px;
		width:60%
		}


	}


@media screen and (min-width: 300px) and (max-width: 1024px) {
		.commlogo {
		float: none;
		display: inline;
		margin-left: 490px;
		width:22%
		}


	}


@media screen and (min-width: 300px) and (max-width: 1024px) {
		.works {
		float: none;
		display: inline;
		margin-left: 60px;
		width:70%
		}


	}