/* foglio stili css per pagina index.html marzo 2021 */

.titolo         { font-family:Arimo,Arial,Helvetica,sans-serif;
	          color:navy; font-weight:bold; position:absolute; margin-top:50px; margin-left:10px; font-size:16pt;
	        }

.titoletto      { font-family:Arimo,Arial,Helvetica,sans-serif;
	          color:navy; font-weight:bold; position:absolute; margin-top:100px; margin-left:10px; font-size:12pt;
	        }


p               { font-family:"arimo", arial; color:black; font-size:12px; position:absolute; width:600px; text-align:justify;
	          margin-top:130px; margin-left:10px; line-height:150%;}


.copyright      { font-family:"arimo", arial; color:navy; font-size:11px; position:absolute; width:600px; text-align:center;
	          margin-top:600px; margin-left:0px; line-height:150%;}
