		@media screen and (max-width: 760px) {
		.titolo, .titoletto, p {
		float: none;
		display: block;
		width:100%
}

}


#sfondo 	{
  		width: 100%;
 	 	height: 100%;
  		top: 0;
  		left: 0;
  		background: url(immagini/intonaco.jpg) no-repeat center top;
  		position: absolute;
  		z-index: -1;
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
		}


.titolo         { font-family:Arimo,Arial,Helvetica,sans-serif;
	          color:navy; font-weight:bold; position:relative; margin-top:50px; margin-left:10px; font-size:16pt;
	        }

.titoletto      { font-family:Arimo,Arial,Helvetica,sans-serif;
	          color:navy; font-weight:bold; position:relative; margin-top:20px; margin-left:10px; font-size:12pt;
	        }


p               { font-family:"arimo", arial; color:black; font-size:12px; position:relative; width:600px; text-align:justify;
	          margin-top:20px; margin-left:10px; line-height:150%;}


.copyright      { font-family:"arimo", arial; color:navy; font-size:11px; position:relative; width:600px; text-align:center;
	          margin-top:230px; margin-left:0px; line-height:150%;}
